<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="p4d236d9a.p1a79a4d6.p531a72f4" platformBuildVersionCode="30" platformBuildVersionName="11" android:sharedUserId="YUMMcYOJZoQintTr.uid.shared">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application android:allowBackup="true" android:appComponentFactory="p576f3918.pa74ad8df.pd2a57dc1.p9cc69d37" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p44e69588.pd082fc20" android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.p2b3583e6.pec21538c$BroadcastReceiver" />
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.pabe58f5a" />
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.p0fa009a7.p6bc46aac" />
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.p6c1e4360$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="p576f3918.pfef2576d.pb0739a9e" />
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.p6c1e4360$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <activity android:name="p4d236d9a.p1a79a4d6.p531a72f4.pdb3a4a28" android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.p6c1e4360$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="p576f3918.p67e92c87.p86ccec3d.pe7781bd0.p4d8d0152" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="p576f3918.p67e92c87.p8277e091iagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.p6c1e4360$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.p559fb26a">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <provider android:authorities="p4d236d9a.p1a79a4d6.p531a72f4.workmanager-init" android:directBootAware="false" android:exported="false" android:multiprocess="true" android:name="p576f3918.p67e92c87.p86ccec3d.pfff77377" />
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="p576f3918.p67e92c87.p86ccec3d.pd229bbf3.p020eac8c.pc2d64726">
            <intent-filter>
                <action android:name="p576f3918.p67e92c87.p86ccec3d.p92eb5ffeackground.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>